.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}
.retro-header{
  background-color: #00a;
  display: flex;
  /* flex-basis: 80px; */
  margin-bottom: 18px;
  flex-wrap: wrap;
  border-bottom: 2px solid #fefffe;
  padding: 0 2px 0 2px;

  h1{
    margin:0;
  }
  .header-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    //border: 2px solid #2be506;

    p{
      display: flex;
      flex-basis: 24px;
      margin-bottom: 0;
      font-weight: bold;
      //border: 1px solid #2be506;
      align-items: center;
  }
    p:hover{
      background-color: black;
    }
  }
}